*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/build/
.idea/runConfigurations.xml
.idea/codeStyles/Project.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
